#Q1 
A database is organized collection data, so that it can be easily accessed and managed. You can organize data into tables, rows, columns and index it to make it easier to find relevant information. The main purpose of database is to operate a large amount of information by storing, retrieving and managing data.

SQL databases are called Relational Databases and NoSQL databases are called non- relational or distributed databases.

SQL databases define and manipulate data-based structured query language(SQL). Seeing from a side this language is extremely powerful. SQL is one of the widely- used options available which makes it a safe choice, especially for great complex queries. But from another side, it can be restrictive. SQL requires you to use pedefined schemas to determine the structure of your data before you work with it. Also, all of your data must follow the same structure. this can requiree significant up-front prepration which means that a change in the structure would be both difficult diruptive to your whole system.It is not suited for hierarchical data storage. it is good for complex queries

A NoSQL database has a dynamic schema for unstructured data.  Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store. this flexibility means that documents can be ceated without having a defined structure first. Also each document can have its own unique structure. the syntax varies from database to database, and you can add fields as you go. it is used for hierarchical data storage. It is not good for complex queries.

In [ ]:
#Q2
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.
1. CREATE- this command is used to create a new table in SQL. the user has to give information like table name, column name and thier datatypes.
#example
CREATE TABLE Student_info
(
college_id number(2),
College_name varchar(30),
Branch varchar(10),
);

2.ALTER - this command is used to add, delete or change columns in the existing table. the user needs to know the exixting table name and can do add, delete or modify tasks easily.
#example
ALTER TABLE Student_info
ADD CGPA number;

3. TRUNCATE - This command is used to remove all rows from the table, but the structure of the table still exixts
#example 
TRUNCATE TABLE Student_info;

4. DROP- This command is used to remove an exixting table among table along with its structure from the database.
#example
DROP TABLE Student_info;

5. RENAME- it is possible to change name of table with or without data in igt using simple RENAME command. we can rename any table object at any point of time.
#example
RENAME TABLE Employee To EMP;

In [ ]:
#Q3
 The structured query language commands deal with the manipulation of data present in the database that belons to the data manipulation language(DML). 
SELECT - Retrieve data from the database.
#example
SELECT * from Employee;

INSERT - Insert data into a table.
#example 
Insert into Employee(Emp_id, Emp_name) values (001, "Ironman");
Insert into Employee(Emp_id, Emp_name) values (002, "Captain America");
Insert into Employee(Emp_id, Emp_name) values (003, "Thor Odinson");

UPDATE - Update existing data within a table
#example
UPDATE Employee SET Emp_name= Thanos WHERE Emp_id = 001;

DELETE - Delete records from database table.
#example 
DELETE from Employee WHERE Emp_id= 001;

#Q4
DQL's full form is  Data Query Language. it is used for performing queries on data within schema objects. DQL is the component of SQL statement that allows getting data from the database and imposing order upon it. it includes the SELECT statement . this command allows getting the data out of the database to perform operations with it. When a SELECT is fired against the table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program
#example
SELECT * from Employee

#Q5
A primary key is used to ensure that data in the specific column is unique. A column cannot have null values. it is either an existing table column or a column that is specifically generated by the database according to a defined sequence.
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. it is a column that references a column, most often the foreign key of another table.

In [ ]:
#Q6
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)
mycursor = mydb.cursor()


cursor() - A cursor in SQL is a database object stored in temporary memory and used to work in datasets. You can use cursors to manipulate data in a database, one row at a time. A cursor uses a SQL SELECT statement to fetch a rowset from a database and then read and manipulate one row at a time.

execute() - This method accepts a MySQL query as parameter and executes the given query.